/* add an amazing animation to the social icons */
img.socialIcon:hover {
    animation: bounce 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
